.user_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
    img{
        border-radius: 20px;
        margin-right: 10px;
    }
}

